html {
  width: 100%;
  height: 100%;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    .App {
      width: 100vw;
      height: 100vh;
      max-width: 100vw;
      max-height: 100vh;
      min-width: 100vw;
      min-height: 100vh;
      padding: 0px;
      background-color: turquoise;
      overflow-y: hidden;
      overflow-x: hidden;
    }
  }
}
